body {
    font-family: "Trebuchet MS", "Arial", Sans-Serif;
    font-size:13px;
    line-height:150%;
}
.jajc-container {
    margin-bottom:10px;
    clear:all;
    float:left;
}
#calendar-example-one {
    clear:left;
    margin-right:10px;
}
